{% extends 'base.html.twig' %}

{% block title %}Hello HabitatsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container-fluid">
    <div class="title-page d-flex align-items-center justify-content-center">
        <h1>Nos habitats</h1>
    </div>
</div>
    <div id ="presentation-services">
        <h2 class="m-2">Nos habitats</h2>
        <div class="d-flex justify-content-center align-items-center m-2">
            <div class="col-lg-4 text-center"> 
                <p>Savane</p>
                <button class="btn m-2" type="button">
                    Voir plus
                </button>            
            </div>
            <div class="col-lg-4 text-center">
                <p>Jungle</p>
                <button class="btn m-2" type="button">
                    Voir plus
                </button>            
            </div>
            <div class="col-lg-4 text-center">
                <p>marais</p>
                <button class="btn m-2" type="button">
                    Voir plus
                </button>            
            </div>
        </div>
    </div>
{% endblock %}
