{% extends 'base.html.twig' %}

{% block title %}New Habitat{% endblock %}

{% block body %}
    <h3 class="m-3">Créer un nouvel Habitat</h3>

    {{ include('habitat/_form.html.twig') }}

    <a class="btn-back m-3" href="{{ path('app_habitat_index') }}">Retouretour à la liste</a>
{% endblock %}
