{% extends 'base.html.twig' %}

{% block title %}New Openinghours{% endblock %}

{% block body %}
    <h1>Create new Openinghours</h1>

    {{ include('openinghours/_form.html.twig') }}

    <a href="{{ path('app_openinghours_index') }}">back to list</a>
{% endblock %}
