{% extends 'base.html.twig' %}

{% block title %}Edit HabitatComment{% endblock %}

{% block body %}
    <h1>Edit HabitatComment</h1>

    {{ include('habitat_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_habitat_comment_index') }}">back to list</a>

    {{ include('habitat_comment/_delete_form.html.twig') }}
{% endblock %}
