{% extends 'base.html.twig' %}

{% block title %}New HabitatComment{% endblock %}

{% block body %}
    <h1>Create new HabitatComment</h1>

    {{ include('habitat_comment/_form.html.twig') }}

    <a href="{{ path('app_habitat_comment_index') }}">back to list</a>
{% endblock %}
