{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="title-page d-flex align-items-center justify-content-center">
        <h1>Nos services</h1>
    </div>
</div>
    <div id ="presentation-services">
        <h3 class="m-2 p-3">Nos services</h3>
        <div class="d-flex justify-content-center align-items-center m-2">
            <div class="col-lg-4 text-center">
                <p>Visites guidées</p>
                <button class="btn m-2" type="button">
                    Voir plus
                </button>
            </div>
            <div class="col-lg-4 text-center">
                <p>Visites guidées</p>
                <button class="btn m-2" type="button">
                    Voir plus
                </button>
            </div>
            <div class="col-lg-4 text-center">
                <p>Visites guidées</p>
                <button class="btn m-2" type="button">
                    Voir plus
                </button>            
            </div>
        </div>
    </div>

{% endblock %}
