{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="title-page d-flex align-items-center justify-content-center">
        <h1>Nos services</h1>
    </div>
</div>
    <div id ="presentation-services" class="container-fluid">
        <h3 class="m-2 p-3">Nos services</h3>
        <div class="row justify-content-center align-items-center text-center m-3 p-3">            
            {% for service in services %}
            <div class="col-lg-4 col-md-10 col-12 m-3 text-center">
                <div class="m-3">
                    <a href="#" class="d-block mb-4">
                        <img src={{ asset('uploads/service_images/') ~ service.images[0].name }} class="img-fluid img-thumbnail active service-image" style="width:100%" alt="service">
                    </a>
                </div>
                <h3 id="title">{{ service.name }}</h3>
                <p>{{ service.description|slice(0, 50) }}...</p>
                <button class="btn m-2" onclick="window.location='{{ path('serviceDetail', {'id': service.id}) }}'" type="button">
                    Voir plus
                </button>
            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
