{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="title-page d-flex align-items-center justify-content-center">
        <h1>Nous Contacter</h1>
    </div>
</div>
<div class="container-fluid">
    <div id="contact" class="col-lg-6 col-md-8 col-11 mx-auto mt-4 mb-4 p-3 text-center shadow" >
        {{ include('contact/_form.html.twig', {'button_label': 'Envoyer'}) }}

    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
    function onSubmit(token) {
        document.getElementById("form").submit();
    }
    </script>
{% endblock %}