{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="title-page d-flex align-items-center justify-content-center">
        <h1>Nous Contacter</h1>
    </div>
</div>

    <div id ="contact" class="container">
        <div id ="contact" class="justify-content-center align-items-center">

            <div class="d-flex justify-content-center align-items-center m-2">
                <div class="col-lg-3 text-center">Visites guidées
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-lg-3 text-center">Visites guidées</div>
                <div class="col-lg-3 text-center">Visites guidées</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
