{% extends 'base.html.twig' %}

{% block title %}Liste des rapports vétérinaires{% endblock %}

{% block body %}
    <h1>Liste des rapports vétérinaires</h1>

    <form id="">
        <div class="form-group">
            <label for="animalName">Nom de l'animal</label>
            <input type="text" id="animalName" name="animalName" class="form-control">
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Filtrer</button>
    </form>

    <div id="reports-container">
        {% include 'vet_report/_reports.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#filter-form').on('submit', function(e) {
        e.preventDefault();

        $.ajax({
            url: '{{ path('app_vet_report_filter') }}',
            type: 'GET',
            data: $(this).serialize(),
            success: function(data) {
                $('#reports-container').html(data);
            }
        });
    });
    
</script>
{% endblock %}

